header {
  font-family: sans-serif;
  text-align: center;
  background: #333;
  padding: 2rem 0;
  width: 100%;
}

header h1 a {
  text-decoration: none;
  color: #fff;
}

header .nav-left {
  float: left;
}

header .nav-right {
  float: right;
}
